@import "task-group.css";

.normal-heading-text {
    padding-bottom: 15px;
    font-size: 28px;
}

/* Prettify free-text questions */
div.row.text-short.question-container > div.question-title-container,
div.row.text-long.question-container > div.question-title-container {
    padding-bottom: 0;
}
